<h1>Welcome Back <%= @current_user.first_name %>!</h1>
<h2>Assessments You've Started</h2>
<ul class="assessment-list">
  <% Assessment.all.each do |assessment| %>
    <% if assessment.started?(@current_user) and !assessment.complete?(@current_user) %>
      <li><%= link_to assessment.title, assessment %></li>
    <% end %>
  <% end %>
</ul>
<h2>Assessments You've Completed</h2>
<ul class="assessment-list">
  <% Assessment.all.each do |assessment| %>
    <% if assessment.complete?(@current_user) %>
      <li><%= link_to assessment.title, results_assessment_path(assessment) %></li>
    <% end %>
  <% end %>
</ul>