<h1>Welcome Back <%= @current_user.first_name %>!</h1>
<%= link_to "Edit Profile", edit_user_path(@current_user), :id => "edit-profile" %>
<%= link_to "View All Assessments", assessments_path %>
<h2>Assessments You've Started</h2>
<h2>Assessments You've Completed</h2>